#area {
    background-color: rgb(211, 211, 211);
    padding: 40px;
    margin: 20px;
    font-size: xx-small;
    width: auto;    
    height: auto;
}

div.container {
    margin: 10px;
    border: 1px solid white;
    padding: 5px;
}

#maxw {
    max-width: 400px;
    height: 100px;
}

#maxh {
    max-height: 100px;
    width: 100px;
}

#minw {
    min-width: 400px;
    height: 100px;
}

#minh {
    min-height: 300px;
    width: 100px;
}